<header>
  <div class="van-top-header">
    <div class="van-wrapper">
      <div class="van-top-header-text van-uppercase ml-4">
        Решения за
      </div>
      <div class="van-header-image"></div>
    </div>
  </div>
  <div class="van-bottom-header">
    <div class="van-wrapper">
      <div class="van-bottom-header-text van-uppercase ml-4">
        <span>Вашия дом</span>

        <button class="van-contact-button">
          Свържете се с нас
        </button>
      </div>
    </div>
  </div>
</header>

<main>
  <!-- <div class="van-portfolio-title-container">
    <div class="van-portfolio-title van-uppercase">Портфолио</div>
  </div> -->

  <div class="row no-gutters mt-2">
    <div class="col-9">
      <div class="row no-gutters ml-2">
        <div class="col-8 pr-2">
          <div class="van-portfolio-image" style="background-image: url(/assets/images/pexels-daria-shevtsova-1029803.jpg);"></div>
        </div>

        <div class="col-4 pr-2">
          <div class="van-portfolio-image" style="background-image: url(/assets/images/pexels-houzlook-com-3356416.jpg);"></div>
        </div>
      </div>

      <div class="row no-gutters ml-2 mt-2">
        <div class="col-4 pr-2">
          <div class="van-portfolio-image" style="background-image: url(/assets/images/pexels-houzlook-com-3797991.jpg);"></div>
        </div>

        <div class="col-4 pr-2">
          <div class="van-portfolio-image" style="background-image: url(/assets/images/pexels-ksenia-chernaya-6021777.jpg);"></div>
        </div>

        <div class="col-4 pr-2">
          <div class="van-portfolio-image" style="background-image: url(/assets/images/pexels-saviesa-home-2089696.jpg);"></div>
        </div>
      </div>
    </div>

    <div class="col-3 pr-2">
      <div class="van-portfolio-tall-image" style="background-image: url(/assets/images/pexels-vecislavas-popa-1571460.jpg);"></div>
    </div>
  </div>

  <div class="row no-gutters mt-2 mb-2 ml-2">
    <div class="col-3 pr-2">
      <div class="van-portfolio-image" style="background-image: url(/assets/images/pexels-vecislavas-popa-1643383.jpg);"></div>
    </div>
    <div class="col-6 pr-2">
      <div class="van-portfolio-image" style="background-image: url(/assets/images/pexels-victoria-borodinova-3315291.jpg);"></div>
    </div>
    <div class="col-3 pr-2">
      <div class="van-portfolio-image" style="background-image: url(/assets/images/pexels-daria-shevtsova-1029803.jpg);"></div>
    </div>
  </div>

  <div class="van-services-title-top-container">
    <div class="van-services-top-title van-uppercase">Нашите</div>
  </div>
  <div class="van-services-title-bottom-container">
    <div class="van-services-bottom-title van-uppercase">Услуги</div>
  </div>

  <div class="row no-gutters justify-content-center">
    <div class="col-auto px-4">
      <div class="van-service-container">
        <div class="van-service-header pt-4">
          Цялостни решения
        </div>

        <div class="van-service-image mt-4">
          <img width="auto" height="100px" src="/assets/images/whole-renovation.png" alt="Облицовки">
        </div>

        <div class="van-service-content mx-3 p-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque illo nisi itaque ratione minus,
          alias delectus non, tenetur omnis at saepe nobis aliquam dolor minima eaque tempore dolore consectetur consequuntur!
        </div>

        <button class="van-see-more-button">
          Виж повече
        </button>
      </div>
    </div>

    <div class="col-auto px-4">
      <div class="van-service-container">
        <div class="van-service-header pt-4">
          Окачени тавани
        </div>

        <div class="van-service-image mt-4">
          <img width="auto" height="130px" src="/assets/images/ceiling-lamp.png" alt="Облицовки">
        </div>

        <div class="van-service-content mx-3 p-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque illo nisi itaque ratione minus,
          alias delectus non, tenetur omnis at saepe nobis aliquam dolor minima eaque tempore dolore consectetur consequuntur!
        </div>

        <button class="van-see-more-button">
          Виж повече
        </button>
      </div>
    </div>

    <div class="col-auto px-4">
      <div class="van-service-container">
        <div class="van-service-header pt-4">
          Облицовки
        </div>

        <div class="van-service-image mt-4">
          <img width="auto" height="110px" src="/assets/images/wall-painting.png" alt="Облицовки">
        </div>

        <div class="van-service-content mx-3 p-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque illo nisi itaque ratione minus,
          alias delectus non, tenetur omnis at saepe nobis aliquam dolor minima eaque tempore dolore consectetur consequuntur!
        </div>
        
        <button class="van-see-more-button">
          Виж повече
        </button>
      </div>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-6">
      <div class="van-contact-container">
        <div class="van-contact-title van-uppercase">
          Контакти
        </div>
      </div>
      
      <div class="van-contact-icons-container">
        <div class="row no-gutters align-items-center justify-content-center">
          <div class="col-auto px-3">
            <img width="50px" height="50px" src="/assets/images/facebook.png" alt="Облицовки">
          </div>
          <div class="col-auto pl-3 pr-4">
            Van Systems
          </div>

          <div class="col-auto pl-4">
            <img width="50px" height="50px" src="/assets/images/phone-call.png" alt="Облицовки">
          </div>
          <div class="col-auto pl-3 pr-4">
            +359 898380640
          </div>

          <div class="col-auto pl-4 pr-3">
            <img width="50px" height="50px" src="/assets/images/email.png" alt="Облицовки">
          </div>
          <div class="col-auto px-3">
            kostadinov_y@abv.bg
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="van-form-top-container">
        <div class="van-form-top-title van-uppercase">
          Изпратете
        </div>
      </div>
      <div class="van-form-bottom-container">
        <div class="van-form-bottom-title van-uppercase">
          Запитване
        </div>

        <div class="van-form">
          <form class="text-center" action="https://formspree.io/f/xnqwndyj" method="POST">
            <div class="d-inline-block">
              <div class="row mt-1">
                <div class="col-auto">
                  <div class="form__group">
                    <input type="text" id="first_name" class="form__field" placeholder="Your Name" name="first_name">
                    <label for="first_name" class="form__label">Име</label>
                  </div>
                </div>
  
                <div class="col-auto">
                  <div class="form__group">
                    <input type="text" id="last_name" class="form__field" placeholder="Your Family Name" name="last_name">
                    <label for="last_name" class="form__label">Фамилия</label>
                  </div>
                </div>
              </div>

              <div class="row mt-1">
                <div class="col-auto">
                  <div class="form__group">
                    <input type="text" id="phone" class="form__field" placeholder="Your Phone" name="phone">
                    <label for="phone" class="form__label">Телефон</label>
                  </div>
                </div>
  
                <div class="col-auto">
                  <div class="form__group">
                    <input type="email" id="_replyto" class="form__field" placeholder="Your Email" name="_replyto">
                    <label for="_replyto" class="form__label">Е-мейл</label>
                  </div>
                </div>
              </div>

              <div class="form__group van-text-area mt-3">
                <textarea id="message" class="form__field" placeholder="Your Message" rows="6" name="message"></textarea>
                <label for="message" class="form__label">Съобщение</label>
              </div>

              <div class="mt-4">
                <button class="van-send-email-button" type="submit">Изпрати</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>