/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Bebas Neue';
  src: url('./assets/fonts/BebasNeue-Bold.woff2') format('woff2'),
      url('./assets/fonts/BebasNeue-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


:root {
  --background-light: #ffffff;
  --background-primary: #AFC2D5;
  
  --font-light: #ffffff;
  --font-primary: #AFC2D5;
  --font-secondary: #525252;
  --font-primary-dark: #9ebfe1;
}

ul {
	margin: 0;
	margin-left: 0;
  padding: 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
}

html {
  font-size: 16px;
  font-family: 'Bebas Neue', sans-serif;
}

body {
  margin: 0;
  background: var(--background-light);
}

.van-page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.van-page-top {
  flex: 0 1 auto;
}

.van-page-content {
  flex: 1 1 auto;
  position: relative;
  height: 100%;
}

.van-page-bottom {
  flex: 0 1 auto; 
}

.van-wrapper {
  max-width: 1800px;
  margin: 0 auto;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.text-center {
  text-align: center;
}

.van-uppercase {
  text-transform: uppercase;
}

.l-0 {
  left: 0;
}

.t-0 {
  top: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.w-40 {
  width: 40px;
}

.h-45 {
  height: 45px;
}

.w-50px {
  width: 50px;
}

.hidden {
  opacity: 0;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.h-100vh {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

button, .outline-none {
  outline: none !important;
}

.position-fixed {
  position: fixed;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 11px;
  }
}