<div class="van-wrapper">
  <nav class="van-navigation">
    <div class="row no-gutters justify-content-between align-items-center h-100 w-100 px-4">
      <div class="col-auto h-100 van-nav-logo">
        <img width="auto" height="100%" src="/assets/svg/van-systems-logo.svg" alt="Van Systems Logo">
      </div>
      <div class="col-auto">
        
      </div>
    </div>
  
    <div class="van-navigation-list d-inline-block">
      <ul class="m-0 p-0">
        <li class="van-nav-item d-inline-block px-3 py-3" (click)="goToHome()"><span>Начало</span></li>
        <li class="van-nav-item d-inline-block px-3 py-3"><span>Портфолио</span></li>
        <li class="van-nav-item d-inline-block px-3 py-3" (click)="scrollTo('services')"><span>Нашите Услуги</span></li>
        <li class="van-nav-item d-inline-block px-3 py-3" (click)="scrollTo('contacts')"><span>Контакти</span></li>
      </ul>
    </div>
  </nav>
</div>